<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Profesores</title>
    <!-- Enlace al archivo CSS de Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Enlace a tu archivo de estilos CSS personalizado -->
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <!-- Incluir el fragmento de navegación -->
    <div th:replace="~{fragments/nav :: nav}"></div>
    <!-- Contenedor principal con espacio -->
    <div class="container-fluid mt-5">
        <h1 class="mb-4">Lista de Profesores</h1>
        <!-- Tabla para mostrar la lista de profesores -->
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <!-- Cabecera de la tabla -->
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Correo</th>
                    <th>Departamento</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <!-- Iterar sobre la lista de profesores y mostrar cada uno en una fila -->
                <tr th:each="profesor : ${profesores}">
                    <td th:text="${profesor.nombre}">Nombre</td>
                    <td th:text="${profesor.apellidos}">Apellidos</td>
                    <td th:text="${profesor.correo}">Correo</td>
                    <td th:text="${profesor.departamento.nombre}">Correo</td>
                    <td>
                        <!-- Enlace para editar el profesor -->
                        <a th:href="@{/api/profesores/editar/{id}(id=${profesor.idProfesor})}" class="btn btn-primary btn-sm">Editar</a>
                        <!-- Enlace para borrar el profesor -->
                        <a th:href="@{/api/profesores/eliminar/{id}(id=${profesor.idProfesor})}" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="button-container mt-4">
            <!-- Botón para regresar a la página principal -->
            <a th:href="@{/}" class="btn btn-dark">Regresar</a>
            <!-- Botón para agregar un nuevo profesor -->
            <a th:href="@{/api/profesores/nuevo}" class="btn btn-dark">Agregar Profesor</a>
        </div>
    </div>
    <!-- Enlace a los archivos JavaScript de Bootstrap y sus dependencias -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>