<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Materiales Asociados</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div th:replace="~{fragments/nav :: nav}"></div>
    <div class="container mt-5">
        <h1 class="mb-4">Materiales Asociados</h1>
        <table id="materialesAsociadosTable" class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Número de Serie</th>
                    <th>Marca</th>
                    <th>Descripción</th>
                    <th>Estado</th>
                    <th>Fecha Alta</th>
                    <th>Fecha Baja</th>
                    <th>Departamento</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="material : ${materiales}">
                    <td th:text="${material.nombre}"></td>
                    <td th:text="${material.numSerie}"></td>
                    <td th:text="${material.marca}"></td>
                    <td th:text="${material.descripcion}"></td>
                    <td th:text="${material.estado}"></td>
                    <td th:text="${material.fechaAlta}"></td>
                    <td th:text="${material.fechaBaja}"></td>
                    <td th:text="${material.departamento.nombre}"></td>
                    <td>
                        <a th:href="@{/api/materiales/editar/{id}(id=${material.idMaterial})}" class="btn btn-warning"><i class="fas fa-edit"></i> Editar</a>
                        <a th:href="@{/api/materiales/eliminar/{id}(id=${material.idMaterial})}" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="button-container mt-4 d-flex justify-content-between">
            <a th:href="@{/api/materiales/departamento/{id}(id=${materiales[0].departamento.idDepartamento})}" class="btn btn-dark"><i class="fas fa-arrow-left"></i> Regresar</a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>