<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inventario del Instituto</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <h1>Bienvenido al Sistema de Gestión de Inventario del Instituto</h1>
    <nav>
        <ul>
            <li><a th:href="@{/profesores}">Profesores</a></li>
            <li><a th:href="@{/materiales}">Materiales</a></li>
            <li><a th:href="@{/libros}">Libros</a></li>
            <li><a th:href="@{/alumnos}">Alumnos</a></li>
        </ul>
    </nav>
</body>
</html>