<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario del Instituto</title>
    <!-- Enlace al archivo CSS de Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Enlace estilos CSS personalizado -->
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <!-- Incluir el fragmento de navegación -->
    <div th:replace="~{fragments/nav :: nav}"></div>
    <!-- Contenedor principal -->
    <div class="container">
        <div th:if="${profesor.rol == 'ROLE_ADMIN'}">
            <h2 class="mt-5">Registros de Operaciones</h2>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Fecha</th>
                        <th>Entidad</th>
                        <th>Nombre de la entidad</th>
                        <th>Operación</th>
                        <th>Profesor que realiza la operación</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="registro : ${registros}">
                        <td th:text="${#dates.format(registro.fecha, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td th:text="${registro.entidad}"></td>
                        <td th:text="${registro.detalles}"></td>
                        <td th:text="${registro.operacion}"></td>
                        <td th:text="${registro.nombreProfesor}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Enlace a los archivos JavaScript de Bootstrap y sus dependencias -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>