<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Préstamo</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Enlace a tu archivo de estilos CSS personalizado -->
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <!-- Incluir el fragmento de navegación -->
    <div th:replace="~{fragments/nav :: nav}"></div>
    
    <!-- Contenedor principal con espacio -->
    <div class="container mt-5">
        <h1 class="mb-4">Nuevo Préstamo</h1>
        <form action="#" th:action="@{/api/prestamos}" th:object="${prestamo}" method="post">
            <div class="form-group">
                <label for="alumno">Alumno:</label>
                <select id="alumno" th:field="*{alumno.idAlumno}" class="form-control">
                    <option th:each="alumno : ${alumnos}" th:value="${alumno.idAlumno}" th:text="${alumno.nombre}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="libro">Libro:</label>
                <select id="libro" th:field="*{libro.idLibro}" class="form-control">
                    <option th:each="entry : ${librosAgrupados}" th:with="parts=${entry.key.split(' - ')}" th:value="${entry.value[0].idLibro}" th:text="${parts[0]} + ' (Cantidad: ' + ${#lists.size(entry.value)} + ')'"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="fechaPlazo">Fecha Plazo:</label>
                <input type="date" id="fechaPlazo" th:field="*{fechaPlazo}" class="form-control" />
            </div>
            <div class="button-container mt-4 d-flex justify-content-between">
                <a th:href="@{/api/prestamos}" class="btn btn-dark">Regresar</a>
                <button type="submit" class="btn btn-success">Guardar</button>
            </div>
        </form>
    </div>

    <!-- Enlace a los archivos JavaScript de Bootstrap y sus dependencias -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        // Seleccionar automáticamente el primer libro disponible
        document.addEventListener('DOMContentLoaded', function() {
            var libroSelect = document.getElementById('libro');
            if (libroSelect.options.length > 0) {
                libroSelect.selectedIndex = 0;
            }
        });
    </script>
</body>
</html>