<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Préstamos</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Enlace a tu archivo de estilos CSS personalizado -->
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <!-- Incluir el fragmento de navegación -->
    <div th:replace="~{fragments/nav :: nav}"></div>
    
    <!-- Contenedor principal con espacio -->
    <div class="container mt-5">
        <h1 class="mb-4">Lista de Préstamos</h1>
        <!-- Tabla para mostrar la lista de préstamos -->
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Profesor</th>
                    <th>Alumno</th>
                    <th>Libro</th>
                    <th>Fecha Préstamo</th>
                    <th>Fecha Plazo</th>
                    <th>Fecha Devolución</th>
                    <th>Devuelto</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="prestamo : ${prestamos}">
                    <td th:text="${prestamo.profesor.nombre}"></td>
                    <td th:text="${prestamo.alumno.nombre}"></td>
                    <td th:text="${prestamo.libro.titulo}"></td>
                    <td th:text="${prestamo.fechaPrestamo}"></td>
                    <td th:text="${prestamo.fechaPlazo}"></td>
                    <td th:text="${prestamo.fechaDevolucion}"></td>
                    <td th:text="${prestamo.devuelto ? 'Sí' : 'No'}"></td>
                    <td>
                        <a th:href="@{/api/prestamos/devolver/{id}(id=${prestamo.idPrestamo})}" class="btn btn-success" th:if="${!prestamo.devuelto}">Devolver</a>
                        <h4 th:if="${prestamo.devuelto}">-</h4>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="button-container mt-4 d-flex justify-content-between">
        <!-- Botón para regresar a la página principal -->
        <a th:href="@{/}" class="btn btn-dark">Regresar</a>
        <!-- Botón para agregar un nuevo libro -->
        <a th:href="@{/api/prestamos/nuevo}" class="btn btn-dark">Nuevo Prestamo</a>
    </div>

    <!-- Enlace a los archivos JavaScript de Bootstrap y sus dependencias -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>